body, html {
    background-image: url("funplants3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
}


header {
    border-bottom: none;
    margin-bottom: none;
    display: flex;
}

header h1 {
    color: white;
    text-decoration: none;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
p {
    color: white;
}

a {
    color: #4b6e2c;
}
a:hover {
  color: #31471d;
  background-color: transparent;
}

a:active {
  color: #416e19;
}
ul li {
    color: white;
}

.nav-left img {
  float: left;
  width: 100px;
  height: 100px;
  background: transparent;
}

.nav-left h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.nav-right {
    color: #416e19;
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    text-align: center;
    margin-bottom: 2rem;
}

.post-entry h2 {
    color: #4b6e2c;
    margin: 0.5rem 0;
    text-decoration: none;
    text-align: center;
}

.post-entry h2 a {
    color: white;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
    text-decoration: none;
    color: #4b6e2c;
}

.post-entry h2 a:hover {
    color: #4b6e2c;
    text-decoration:none;
}