body, html {
	background-image: url("funplants3.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
}


header {
    border-bottom: none;
    margin-bottom: none;
    display: flex;
}

header h1 {
    color: #4b6e2c;
    text-decoration: none;
}
p {
    color: white;
}

h1 {
    color: white
}

a {
	color: #4b6e2c;
}
a:hover {
  color: #31471d;
  background-color: transparent;
}

a:active {
  color: #416e19;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    color: #416e19;
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
	color: #4b6e2c;
    margin: 0.5rem 0;
    text-decoration: none;
}

.post-entry h2 a {
	color: white;
	text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
    text-decoration: none;
    color: #4b6e2c;
}

.post-entry h2 a:hover {
    color: #4b6e2c;
    text-decoration:none;
}