{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}
    <div class="post-entry">
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        <!-- <a href="{% url 'profile_page' post.author.profile.id %}"> {{post.author }}</a> -->
        <!--<img class="rounded-circle" src="{{ post.author.profile.image.url }}"> -->
        {% if post.image %}
        <a href="{% url 'post_detail' post.pk %}"> <img class="rounded-circle" src="{{ post.image.url }}"></a>
        <!-- <img src="{{ post.image.url }}" width ="300" height ="300"></p> -->
        {% endif %}
        <!-- <p>{{ post.body }}</p> -->
        <!-- I commented out the old home page links in case we want to use them for something-->
    </div>
    {% endfor %}
{% endblock content %}
