{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ page_user.user.username }}</h2>
          <p class="text-secondary">{{ page_user.user.email }}</p>
          <p class="text-secondary">{{ page_user.user.first_name }}</p>
          <p class="text-secondary">{{ page_user.user.last_name }}</p>
          <p class="text-secondary">{{ page_user.user.profile.bio }}</p>
          <img class="rounded-circle account-img" src="{{ page_user.user.profile.image.url }} " style="cursor: pointer;" width="200" height="200"/>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}